.content {
    display: flex;
    justify-content: center;
}

.brand-logo {
    margin-left: 20px;
}

.container-wrapper {
    margin: 20px 50px 20px 50px;
    padding: 15px;
    width: 60%;
    flex-direction: column;
}

body {
    font-size: 15pt;
}

.section-alignment {
    margin: 50px;
    padding-bottom: 20px;
}

.section-header {
    text-align: center;
}

ul {
    margin: 20px;
}

ul > li {
    text-align: justify;
}

li {
    margin-bottom: 10px;
}

p {
    text-align: justify;
    margin: 20px;
}

h5 {
    margin: 20px;
}

#wasm-high-level {
    width: 70%;
}

#wasm-text-binary {
    width: 60%;
}

#wasm-js {
    width: 70%;
}

#wasm-file-generation {
    width: 70%;
}